@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./_icones.scss";
@import "./_fonts.scss";
@import "./_01_header.scss";
@import "./_02_shopAt.scss";
@import "./_03_services.scss";
@import "./_04_products.scss";
@import "./_05_discover.scss";
@import "./_06_hotFashion.scss";
@import "./_07_trustUs.scss";
@import "./_08_footer.scss";